{% extends 'Base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'CSS/Team.css' %}">
<title>AMRC - Team - Barsha</title>
{% endblock %}

{% block content %}
<div class="fill centerer">
    <p class="title">Barsha Heads</p>
    <div class="grid-container">
        {% for head in barsha_heads %}
            <div class="grid-item">
                <img class="pfp" src="{{ head.pfp.url }}" alt="{{ head.name }}">
                <p class="text">{{ head.name }}</p>
            </div>
        {% empty %}
            <p class="text">No heads available.</p>
        {% endfor %}
    </div>

    <p class="title">Barsha Executive Board</p>
    <div class="grid-container">
        {% for member in barsha_board %}
            <div class="grid-item">
                <img class="pfp" src="{{ member.pfp.url }}" alt="{{ member.name }}">
                <p class="text">{{ member.name }}</p>
            </div>
        {% empty %}
            <p class="text">No board members available.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}