{% extends 'Base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'CSS/Home.css' %}">
<title>Archives - {{ club_type|title }} Books</title>
{% endblock %}

{% block content %}
<div class="fill centerer">
    <div class="grid-container">
        {% for book in books %}
        <div style="width: 300px;">
            <div style="display: flex; justify-content: center;">
                <p class="text">
                    {% if book.url %}
                    <a href="{{ book.url }}" target="_blank" style="text-decoration: none; color: black;">
                        {{ book.title }}
                    </a> 
                    {% else %}
                    {{ book.title }} (No link available)
                    {% endif %}
                </p>
            </div>
        </div>
        {% empty %}
        <p>No books available for {{ club_type|title }}</p>
        {% endfor %}
    </div>
</div>
{% endblock %}