{% extends 'Base.html' %}
{% load static %}

{% block  style%}
<link rel="stylesheet" href="{% static 'CSS/Home.css' %}">
<title>AMAG - Brics</title>
{% endblock %}

{% block content %}
<div class="fill centerer">
    <p class="title">About</p>
    <p class="text">{{ about.about_text }}</p>
    <br>
    <div class="club-photos">
        {% for photo in about.photos.all %}
            <img src="{{ photo.photo.url }}" alt="Photo for {{ about.club }}">
        {% empty %}
            <p>No photos available for this club.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}